@font-face{
    src: url(../font/LibreBaskerville-Regular.ttf);
    font-family: "moj-font-regular";
}
@font-face{
    src: url(../font/LibreBaskerville-Italic.ttf);
    font-family: "moj-font-italic";
}
@font-face{
    src: url(../font/LibreBaskerville-Bold.ttf);
    font-family: "moj-font-bold";
}
body{
    font-family: "moj-font-regular" !important;
}
.bg-lavanda{
    height: 35px;
    background-color: #d2c1b5;
}
.logo-center{
    display: flex;
    justify-content: center;
    padding: 10px auto;
}
.logo-center img{
    width: 250px;
}
.bg-lavanda-m-nav{
    background-color: #d2c1b5;
    text-transform: uppercase;  
    font-family: "moj-font-bold"; 
}
.m-nav-text a{
    color: #000000;
}
.m-nav-text a:hover{
    color: #523d32;
}

.transparent{
    width: 100%;
    height: 500px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.transparent img{
    width: inherit;
    height: inherit;  
    opacity: 0.8;
}
.social-media{
    text-align: right;
}
.social-media a i{
    color: #000000;
    font-size: 30px;
    padding: 10px 15px;  
}
.social-media a i:hover{
    color: #523d32;
}
.m-about-us{
    background-color: #f8f4f1;
    border: 1px solid #d2c1b5;
    position: relative;
    margin-top: -80px;
}
h1{
    font-family: "moj-font-italic";
    font-weight: 800;
    text-align: center;
    color: #d28e5f;
}
.m-text{
    font-style: italic;
    text-align: justify;  
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.word-Tema-Dizajn{
    font-family: "moj-font-italic";
    font-weight: 800;
    color: #d28e5f;
    font-size: 25px;
}
h2{
    font-family: "moj-font-italic";
    font-weight: 800;
    text-align: center;
    color: #d28e5f;

}





